.hidden {
  display: none;
}

#banner {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: #a90b34;
  box-shadow: 5px 10px 10px black;
  border-radius: 10px;
}

#bannerLogo {
  width: 20%;
  height: auto;
  float: left;
  display: block;
}

#cartDiv {
  float: right;
}

#mainPageContent {
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* #toppingsHolder {
  display: inline-flex;
  flex-direction: column;
} */

#toppingsOptionsHolderA {
  text-align: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: inline-block; 
}

#toppingsOptionsHolderB {
  text-align: left;
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: inline-block; 
}